
<!DOCTYPE html>
<html>
  <title>April </title>
    <head>About Me!
    </head>
    <body>
      <h1>
  About Me!
  I love playing games and Listening to music! Coding is fun!
  </h1>
  <h3>
    Growing up, I looked up to Kanye West. Hes such an inspiration and he's a great person.
    Neither
  </h3>
 </body>
 </html>